<%- include('includes/header')%>
<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <form
    onsubmit="return validateSignUpForm()"
    class="login_container"
    action="/brand/sign-up"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="login_frame" style="width: 650px; height: 730px">
      <div class="login_top">
        <span>Sign Up</span>
        <div
          style="
            font-family: nunito;
            font-size: 18px;
            color: #423127;
            font-weight: 600;
          "
        >
          Back to Home <a href="/brand" style="color: #6440fb">Home</a>
        </div>
        <p
          style="
            font-family: nunito;
            font-size: 18px;
            color: #423127;
            font-weight: 600;
          "
        >
          Do you have an account?
          <a href="/brand/login" style="color: #6440fb">Login</a>
        </p>
      </div>

      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label
            style="
              font-family: nunito;
              font-size: 18px;
              color: #423127;
              font-weight: 600;
            "
            >User name</label
          >
          <input
            type="text"
            name="mb_nick"
            class="mb_nick"
            placeholder="User name"
            value=""
            required
          />
        </div>
        <div class="sign_up_frame">
          <label
            style="
              font-family: nunito;
              font-size: 18px;
              color: #423127;
              font-weight: 600;
            "
            >Telephone number</label
          >
          <input
            type="text"
            name="mb_phone"
            class="mb_phone"
            placeholder="Telephone number"
            value=""
            required
          />
        </div>
      </div>

      <div class="sign_input_frame">
        <div class="sign_up_frame">
          <label
            style="
              font-family: nunito;
              font-size: 18px;
              color: #423127;
              font-weight: 600;
            "
            >Password</label
          >
          <input
            type="password"
            name="mb_password"
            class="mb_password"
            placeholder="Enter Password"
            value=""
            required
          />
        </div>
        <div class="sign_up_frame">
          <label
            style="
              font-family: nunito;
              font-size: 18px;
              color: #423127;
              font-weight: 600;
            "
            >Confirm Password</label
          >
          <input
            type="password"
            name="mb_confirm_password"
            class="mb_confirm_password"
            placeholder="Confim password"
            value=""
            required
          />
          <!-- Member service model yaratib olinyapti  -->
        </div>
      </div>

      <div class="login_input_frame">
        <div class="media-frame">
          <img
            class="upload_img_frame"
            src="/images/default_brand.jpeg"
            alt="Bu yerda restaurant image bor"
          />
          <div class="upload_container">
            <span
              style="
                font-family: nunito;
                font-size: 18px;
                color: #423127;
                font-weight: 600;
                margin-top: 10px;
              "
              >Brand Logo</span
            >
            <div class="filebox bs3-primary preview-image">
              <input
                class="upload-name"
                value="Choose Logo"
                disabled="dibled"
              />
              <label for="input_file">Upload Logo</label>
              <input
                type="file"
                id="input_file"
                name="brand_img"
                placeholder="Upload Logo"
                class="upload-hidden form-control-file brand_img"
              />
            </div>
            <p class="thumbnail_desc">
              Upload your Brand Logo here. <br />
              Attention: .jpg, .jpeg, .png or .webp <br />
              you only can upload these files!
            </p>
          </div>
        </div>
      </div>

      <button class="login_btn btn" name="signup" type="submit">Sign Up</button>
    </div>
  </form>
</body>

<script>
  $(function () {
    /* HTML CSS lar tayyor bo'gandan keyin JQuery ishga tushadi */ let fileTarget =
      $(".filebox .upload-hidden"); /* . bn JQuery da classlar yasaladi */
    let filename = "";
    fileTarget.on("change", function () {
      if (window.FileReader) {
        const uploading_file = $(this)[0].files[0];
        const fileType = uploading_file["type"];
        const validImageTypes = ["image/jpg", "image/jpeg", "image/png", "image/webp"];
        if (!validImageTypes.includes(fileType)) {
          alert("Please upload only allowed formats: jpg, jpeg va png");
        } else {
          if (uploading_file) {
            console.log(URL.createObjectURL(uploading_file));
            $(".upload_img_frame")
              .attr("src", URL.createObjectURL(uploading_file))
              .addClass("succeess");
          }
          filename = uploading_file.name;
        }
      }
      $(this).siblings(".upload-name").val(filename);
    });
  });

  function validateSignUpForm() {
    const mb_nick = $(".mb_nick").val();
    const mb_phone = $(".mb_phone").val();
    const mb_password = $(".mb_password").val();
    const mb_confirm_password = $(".mb_confirm_password").val();
    const retaurant_img = $(".brand_img").get(0).files[0] ?? null;

    if (
      mb_nick == "" ||
      mb_phone == "" ||
      mb_password == "" ||
      mb_confirm_password == ""
    ) {
      alert("Please, fill all the blanks!");
      return false;
    } else if (mb_password !== mb_confirm_password) {
      alert(`Please, re-enter your password correctly!`);
      return false;
    }
    if (!retaurant_img) {
      alert("Please, upload your logo!");
      return false;
    }
    return true;
  }
</script>

<%- include('includes/footer')%>
